.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.2em;
  background-color: var(--input-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-color) 0px 1px 2px;
  gap: 1em;
  .card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -25px;
    padding: 0 1em;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    svg {
      color: var(--mark-color);
      &:hover {
        color: var(--color-red-00);
      }
    }
  }
  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    margin-bottom: 1em;
    .card-fav {
      color: var(--special-color);
      animation: latido 2s;
      animation-iteration-count: 2;
    }
    svg {
      display: flex;
      align-items: center;
      color: var(--special-color);
    }
  }
}
.job-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8em;
  color: var(--text-soft-color);
  gap: 0.5em;

  margin-top: 30px;
  svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.job-title {
  color: var(--special-color);
  font-size: 1.15em;
  line-height: 2em;
}
.job-company {
  font-weight: 600;
  color: var(--text-strong-color);
}
.job-details {
  color: var(--text-soft-color);
}
.job-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-soft-color);
  gap: 0.25em;
}
canvas {
  height: 50px;
  width: 50px;
  border-radius: 1em;
  border: 2px solid var(--border-color);
}

@keyframes latido {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
