header {
  background-color: var(--special-bg-color);
  .navbar {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    font-size: 1.1em;
    .logo img {
      height: 40px;
      width: 100%;
    }
  }
}
