footer {
  font-size: 0.8em;
  width: 100%;
  margin: 1em 0;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: var(--special-bg-color);
    transition: all ease-in-out 0.3s;
    &:hover {
      color: var(--color-secondary-800);
    }
  }
  .copyright {
    color: var(--color-text-600);
  }
  .social-media {
    display: flex;
    gap: 1em;
  }
}
