@import "../../styles/palette.scss";
footer {
  font-size: 0.8em;
  width: 100%;
  margin: 1em 0;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: $color-primary;
    transition: all ease-in-out 0.3s;
    &:hover {
      color: darken($color-primary, 10);
    }
  }
  .copyright {
    color: $color-text;
  }
  .social-media {
    display: flex;
    gap: 1em;
  }
}
